@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

Button.-primary {
  font-size: 18;
}

.my-btn{
  background-color: tomato;
  color:white;
  font-size:24;
}
