StackLayout
{
 
font-size: 18px;
font-family: sans-serif;
font-family: monospace;
color:black;
font-weight: bold;
}
/*
Android default olarak tam siyah renkli bir font gelmiyor
Biraz daha gri renkli bir text geliyor
Android de default olarak gelen font-family- font-family: sans-serif; budur
IOS da ise default font-family:Time-new-romandir
Ama biz hem Android hem de IOs da da sans-serif yaptimizda yine gorunumlerde belirlik farklilik lar vardir platforma gore
Android de monospace daha kalin gozukecektir
iosfonts.com da IOS da kullanabilecegimz inbuild fonts lari bulabiliriz 
font-family:"American Typewriter"
Biz ornegin ios da var olan ama android de var olmayan bir specific bir font-family kullanirsak, o zaman Android default font-family si olan sans-serif i kullanacaktir
*/

Page{
	background-color: lightblue;
	color:white;
}

ActionBar {
	background-color: darkblue;
	color: white;
}